page-home {

    h3 {
        width: 100%;
        text-align: center;
    }

    img {
        width: 100%;
        align-self: center;
        margin: auto;
        display: block;
        padding: 10px;
    }

    .no-padding {
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
    }

}
